:root {
  font-family: 'Roboto Flex', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
  }
}

.section {
  scroll-margin-top: 40px;

  @include media(desktop) {
    scroll-margin-top: 50px;
  }
}

.section-title-wrapper {
  border-bottom: 4px solid #e7c713;
  background: #1d092b;
  padding: 40px 0 16px;

  @include media(desktop) {
    padding: 56px 0 20px;
  }
}

.section-title {
  font-family: 'Chelsea Market', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  background: linear-gradient(180deg, #efe8f5 0%, #ffc916 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media(desktop) {
  }
}

.section-subtitle {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #502566;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}
